version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/ts"
    schedule:
      interval: "daily"
    groups:
      npm:
        patterns:
          - "*"
    versioning-strategy: increase
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore"
      include: "scope"
    groups:
      github-actions:
        patterns:
          - "*"
