name: Deploy if not a version bump PR
on:
  pull_request:
    types:
      - closed

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.merged == true && !contains(github.event.pull_request.labels.*.name, 'Version bump') }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - run: gh workflow run deploy.yml -f ts-only=${{ contains(github.event.pull_request.labels.*.name, 'ts-only') }}
        env:
          GITHUB_TOKEN: ${{ secrets.WORKFLOW_PAT }}
