name: TDR Deploy Generated Graphql
on:
  workflow_dispatch:
    inputs:
      ts-only:
        default: false
        description: Whether to deploy to npm only
        required: false
        type: boolean
env:
  RUN_NUMBER: ${{ github.run_id }}${{ github.run_attempt }}
  BRANCH_NAME: version-bump-${{ github.run_id }}${{ github.run_attempt }}
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: sbt/setup-sbt@1cad58d595b729a71ca2254cdf5b43dd6f42d4bb # v1.1.18
      - name: Import GPG key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6.3.0
        with:
          git_user_signingkey: true
          git_commit_gpgsign: true
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
      - run: ./.github/scripts/setup.sh
      - run: |
          ./.github/scripts/deploy_npm.sh ${{ secrets.NPM_TOKEN }}
        id: deploy-npm
      - if: ${{ github.event.inputs.ts-only == 'false' }}
        id: build
        run: |
          sbt 'release with-defaults'
        env:
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
      - name: Create Pull Request
        run: gh pr create --fill --label 'Version bump'
        env:
          GITHUB_TOKEN: ${{ secrets.WORKFLOW_PAT }}
      - if: ${{ github.event.inputs.ts-only == 'false' }}
        name: Send success message
        uses: nationalarchives/tdr-github-actions/.github/actions/slack-send@13faff54c193651ee30482ebdf01e083c8b14203 # v0.0.17
        with:
          message: ":white_check_mark: Generated graphql ${{ steps.build.outputs.latest-tag }} has been published"
          slack-url: ${{ secrets.SLACK_WEBHOOK }}
      - name: Send success message
        uses: nationalarchives/tdr-github-actions/.github/actions/slack-send@13faff54c193651ee30482ebdf01e083c8b14203 # v0.0.17
        with:
          message: ":white_check_mark: Generated graphql ${{ steps.deploy-npm.outputs.set-npm-version }} has been published to npm"
          slack-url: ${{ secrets.SLACK_WEBHOOK }}
