name: TDR Run Graphql Schema Check
on:
  pull_request:
  push:
    branches-ignore:
      - master
      - release-*
jobs:
  test:
    runs-on:  ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: sbt/setup-sbt@1cad58d595b729a71ca2254cdf5b43dd6f42d4bb # v1.1.18
      - uses: nationalarchives/tdr-github-actions/.github/actions/run-git-secrets@13faff54c193651ee30482ebdf01e083c8b14203 # v0.0.17
      - uses: nationalarchives/tdr-github-actions/.github/actions/slack-send@13faff54c193651ee30482ebdf01e083c8b14203 # v0.0.17
        if: failure()
        with:
          message: ":warning: Secrets found in repository ${{ inputs.repo-name }}"
          slack-url: ${{ secrets.SLACK_WEBHOOK }}
      - name: Check schema
        run: |
          mkdir -p src/main/resources/
          wget -O src/main/resources/schema.graphql https://raw.githubusercontent.com/nationalarchives/tdr-consignment-api/master/schema.graphql
          sbt graphqlCodegen
